<head>

</head>
<body>
<div style="float: right; clear: left;"><IMG src="/images/motor1.jpg" class="img-rounded" width="400" height="250"></div>
<img src="/images/car1.jpg" class="img-rounded" width="400" height="250">

<p>
    <a href="/forum"><button type="button" class="btn btn-primary">Car Forum</button></a>
<div style="float: right; clear: left;"><a href="/motor"><button type="button" class="btn btn-primary">Motorcycle Forum</button></div>
</p>

<center><img src="/images/calendar.jpg" alt="what image shows" height="300" width="350" style="margin-left: 10vw">
    <img src="/images/buyAndSale.jpg" class="img-rounded" width="300" height="250">
</center>
<center>
    <a href="/events"><button type="button " class="btn btn-primary" style="margin-right: 10vw">Events</button></a>
    <button type="button" class="btn btn-primary" style="margin-left: 10vw">Buy and Sale</button>
</center>
</body>